* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0f13;
  color: #fff;
}

p {
  font-size: 17px;
  line-height: 1.9;
  color: #888;
}

h1 {
  line-height: 1.1;
}

h2 {
  line-height: 1.2;
}

button {
  font-family: inherit;
  cursor: pointer;
}
